challenge
  rise(2)

  text-align left

  hgroup
    h2
      text-align left
      font-size 150%
      line-height 1.6em
      height 1.6em
    h3
      font-size 80%
      line-height 2em
      height 2em

  article
    padding 0 1em

  img
    rise()
    background-color #eee
    height 4em
    width 4em
    margin-right 1em
    margin-bottom 1em
    float left

#challenges
  form
    max-width 40em
    margin auto


form.challenge
  padding 1em

  textarea,
  select,
  input
    width 100%
    display block
    margin-bottom 1em

  .button-bar
    display flex
    font-size 150%
    height 3em
    line-height 3em

  input[type="submit"]
    flex auto
    height 100%

  .pricetag
    sink()
    height 100%
    display inline-block
    padding 0 1em
    margin-right .5em
    color white

    transition background-color .15s
    background-color #333

  .button-bar:hover
    .pricetag
      background-color accent-color


  select
    height 2em

  textarea
    sink()
    resize none
    border 0
    height 5em
    padding 1em

