#play
  text-align center
  provider
    button
      width 4em
      height 4em
      line-height 1em
      margin 0 .5em
      padding 0
      padding-top .2em
      display inline-block

      text-align center

      .fa
        display inline-block

#first-points
  text-align center
  button
    margin 1em


