github-push
  = 'Pushed to '
  a(href='//github.com/{{push.repo.name}}') {{push.repo.name}}:
  br
  div(ng-repeat='commit in push.payload.commits')
    = '- '
    a(ng-href='//github.com/{{push.repo.name}}/commit/{{commit.sha}}') {{commit.message}}
  = ' '
  span.date(
    title='{{push.created_at}}'
    am-time-ago="push.created_at"
  )