.messages(watch-bottom="messages", transition='500')
  p(ng-repeat="message in messages | orderBy:'timestamp'")
    | {{message.timestamp | amDateFormat:'hh:mm'}} - {{message.user.name}}: {{message.message}}

form(
  ng-if="!!session.user.name"
  ng-submit="broadcast(model.message); model.message=''"
)
  input(ng-model="model.message" type="text" placeholder="chat away...")
  input(type="submit" value="Send")
