aside#filters(ng-controller-off="FilterCtrl")
  //- p Control the feed
  //- filter All
  //- filter Social
  //- filter Game
  //- filter Code

  //- filter Twitter
  //- filter Facebook
  //- filter Github

  //- filter Quests
  //- filter Rewards