section#intro
  h2 Jesse the Game?

  p
    | This is an effort to realise my pipedream of
    | turning my world into an actual game.
    | Of inventing a new class of entertainment.
    | Of becoming the world's first pop-programmer.
    | Of being the puppet of the internet.
    | Of performing an extreme social experiment.

  p
    | You get to challenge me to do things.
    | Funny things, funky things, crazy things.
    | You also get to enforce these challenges with
    strong  Power Points
    | . At the end of the week I take on the challenge
    | with the most points, and post a report once I'm done.

  p
    | Check in regularly for exciting updates!
