.splash#intro
  .logo

  h2 Jesse the Game

  .roll
    roll
      side Don't call me a player
      side Look at these graphics
      side We both win
      side Are you ready?
      side Don't call me a player

  p
    | You get to challenge me to do things.
    | Funny things, funky things, crazy things.
    | You also get to enforce these challenges with
    strong  Power Points
    | . At the end of the week I take on the challenge
    | with the most points, and post a report once I'm done.

  p
    | Check in regularly for exciting updates!
