.splash#intro
  .logo(ng-class="{duck: expandMinimap || !scrollAtIntro}")

  aside.toasts#toasts-intro(ng-cloak ng-if="scrollAtIntro")
    toast(ng-repeat="toast in toast.toasts")



  h2 Jesse the Game

  roll
    side Don't call me a player
    side Look at these graphics
    side You've got the power
    side Everybody wins
    side Are you ready?
    side Don't call me a player

  p
    | I'm a real life game character. Collect
    strong  Power Points
    |  to control me.
