@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700)

body
  margin 0
  font-family "Quicksand", Helvetica, sans-serif

h1
  font-weight inherit
  text-align center

minimap
  margin auto
  margin-top 20px
  display flex
  width 400px
  height 400px
  // border-radius 50%
  box-shadow .5em .5em rgba(0,0,0,0.3)
  background-color #eee
  position relative
  overflow hidden

google-map
  overflow hidden
  position absolute
  // border-radius 50%
  height 100%
  width 100%

ng-controller-off
  display none
