
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700)

action-color = #99cc66
action-color-active = #aadd77
accent-color = #66cc99
accent-color-active = #77ddaa
action-color = accent-color
action-color-active = accent-color-active

splash-color-1 = #9966cc
splash-color-2 = #66cc99
splash-color-3 = #6699cc
splash-color-4 = #cc9966

palette-1 = #62D1D9
palette-2 = #66E3C8
palette-3 = #66CC99
palette-4 = #66E381
palette-5 = #6BD962

action-color = palette-5
action-color-active = lighten(palette-5, 20%)

accent-color = palette-1
accent-color-active = lighten(palette-1, 20%)


splash-color-1 = palette-2
splash-color-2 = palette-4
splash-color-3 = palette-5
splash-color-4 = palette-3


*
  box-sizing border-box
  vertical-align top

a,
a:hover,
a:visited,
a:active,
a:focus
  color inherit
  font inherit
  text-decoration inherit

a[href]
  text-decoration underline

[ng-click],
button
  cursor pointer

:focus
  outline-color transparent
  outline-style none

html,
body
  height 100%
  position relative

body
  font-family "Quicksand", Helvetica, sans-serif
  font-family "Quicksand", sans-serif !important
  background-color #eee
  // margin 1em
  // margin-top 5em
  margin 0
  padding 4em 0
  padding-bottom 6em

  @media (min-width: 600px)
    padding 4em 2em

  @media (min-width: 900px)
    margin 1em
    padding 4em
    padding-top 5em
    // margin-top 4em
    margin-bottom 1em
    padding-bottom 3em

h1,
h2,
h3
  font-weight inherit
  margin 0
  font-size 200%

h2
  padding .5em
  line-height 1em

h1
  position absolute
  top 0
  left 0
  padding-left 2em
  // padding 0 .5em
  margin-right 1em

  background-image url(/img/jesse.png)
  background-repeat no-repeat
  background-position .25em 0
  background-size 1.5em
  transition background-position .3s

  line-height 2em

  @media (min-width: 600px)
    position static

header:hover
  h1
    background-position .25em -.25em

header
  h1.duck
    background-position .25em 2em

#intro
  // h2
  //   text-shadow .05em .05em rgba(0,0,0,0.05)
  &:before
    background-color splash-color-2
    transform translateX(-50%) rotate(-1deg)

  .logo
    width 12em
    height 12em
    display block
    margin auto
    margin-top -8em
    border-radius 50%
    background-image url(/img/jesse.png)
    background-size 8em
    background-repeat no-repeat
    transition background-position .3s
    background-color #eee
    background-position center -1em
    &:hover
      background-position center -2em

    &.duck
      background-position center 12em

  roll
    max-width 24em
    margin-bottom 2em


h2
  text-align center


ng-controller-off
  display none

button,
input
  height 2em
  line-height 2em
  border 0
  outline 0
  margin 0
  padding 0 .5em
  // font-size inherit
  font inherit

  &[type="text"]
    // box-shadow inset .25em .25em rgba(0,0,0,0.3)
    box-shadow inset .25em .25em rgba(0,0,0,0.15)

button,
[type="submit"]
  cursor pointer
  margin -.25em 0 0 -.25em
  // box-shadow .25em .25em rgba(0,0,0,0.3)
  box-shadow .25em .25em rgba(0,0,0,0.15)

  background-color action-color
  color #fff
  transition background-color .15s

  margin -.25em 0 0 -.25em
  box-shadow .25em .25em rgba(0,0,0,0.15)

  &:hover
    background-color action-color-active

  &:active
    margin -.15em 0 0 -.15em
    box-shadow .15em .15em rgba(0,0,0,0.15)


header
  position fixed
  top 0
  left 0
  width 100%
  height 4em
  background-color rgba(255,255,255,0.9)
  box-shadow 0 .5em rgba(0,0,0,0.15)

  font-size 75%

  @media (min-width: 600px)
    font-size 100%

#session
  padding 1em
  position absolute
  right 0
  top 0

#game
  display inline-block

#profile
  span
    display inline-block
    height 2em
    line-height 2em
    margin-right .5em

    @media (max-width: 600px)
      span
        display block
        height 1em
        line-height 1em

  .avatar
    margin-left 1em


.minimap,
.chat
  position fixed
  bottom 0
  background-color #fefefe
  margin-top -1em

  height 28em

  transition transform .3s, width .3s

  width 100%
  // padding 1em
  background-color rgba(255,255,255,1)
  box-shadow .5em .5em rgba(0,0,0,0.05)

  .header
    height 3em
    line-height 3em
    padding 0 1em
    color white
    font-weight 700

    background-color accent-color
    transition background-color .15s
    &:hover
      background-color accent-color-active

  .body,
  .footer
    margin 1em


#github,
#game
  display block

  @media (min-width: 600px)
    display inline-block

    padding 1em
    flex 1 auto


@keyframes loading
  0%, 100%
    border-top solid 2px red
  25%
    border-right solid 2px red
  50%
    border-bottom solid 2px red
  75%
    border-left solid 2px red

#session,
#chat,
.loading
  animation-name loading
  animation-duration 2s
  animation-timing-function ease-in
  animation-delay 0
  animation-iteration-count infinite
  animation-direction normal
  animation-play-state running

story,
challenge
  width 90%
  display inline-block
  background-color white
  margin 1em

  @media (min-width: 720px)
    width 44%

  @media (min-width: 1140px)
    width 30%

challenge
  box-shadow .5em .5em rgba(0,0,0,0.15)

  text-align left

  hgroup
    h2
      text-align left
      font-size 150%
      line-height 1.6em
      height 1.6em
    h3
      font-size 80%
      line-height 2em
      height 2em

  article
    padding 0 1em

  img
    background-color #eee
    height 4em
    width 4em
    box-shadow .25em .25em rgba(0,0,0,0.15)
    margin -1.25em 1em 1em -1.25em
    margin -.25em 1em 1em -.25em
    float left


form.challenge
  // box-shadow inset .5em .5em rgba(0,0,0,0.15)

  padding 1em

  textarea,
  select,
  input
    width 100%
    display block
    margin-bottom 1em
    font inherit

  .button-bar
    display flex
    font-size 150%
    height 3em
    line-height 3em

  input[type="submit"]
    flex auto
    height 100%

  .pricetag
    height 100%
    display inline-block
    padding 0 1em
    margin-right .5em
    box-shadow inset .25em .25em rgba(0,0,0,0.15)
    color white

    transition background-color .15s
    background-color #333

  .button-bar:hover
    .pricetag
      background-color accent-color


  select
    height 2em

  textarea
    resize none
    border 0
    height 5em
    padding 1em
    box-shadow inset .25em .25em rgba(0,0,0,0.15)


#navigation,
#accounts
  position fixed
  top 0
  padding-top 5em
  height 100%
  width 12em

  font-size 75%

  @media (min-width: 480px)
    width 12em

  @media (min-width: 600px)
    font-size 100%

  background-color rgba(255,255,255,0.9)
  // box-shadow -.5em 0 rgba(0,0,0,0.15)
  // box-shadow -.25em 0 rgba(0,0,0,0.05)
  box-shadow .25em 0 rgba(0,0,0,0.05)


  transition transform .3s

#navigation
  left 0

  transform translateX(-12em)

  @media (min-width: 600px)
    transform translateX(-8em)
    &:hover
      transform translateX(-.5em)
    box-shadow .25em 0 rgba(0,0,0,0.05)

#accounts
  right 0

  transform translateX(12em)

  @media (min-width: 600px)
    transform translateX(8em)
    &:hover
      transform translateX(.5em)

  .avatar
    height 4em
    width 4em

    margin -1em -1em -1em 1em

    display inline-block

    background-size cover
    background-position center center

  button
    height 4em
    width 100%
    margin-bottom 1em

    background-size 4em
    background-repeat no-repeat
    padding-left 4em

    background-size 5em

    transition background .3s

    background-position 0 .5em
    &:hover
      background-position 0 -.5em

  .account
    background-position -.75em 0em
    &:hover
      background-position -.75em -.25em


#join
  text-align center
  provider
    button
      width 4em
      height 4em
      text-indent 9999em
      margin 0 .5em
      overflow hidden
      display inline-block

      background-size 4em

#first-points
  text-align center
  button
    margin 1em

#toasts-intro
  position absolute
  top 10em
  width 20em

  left 50%
  transform translateX(-50%)

  toast
    border-radius 1em
    font-size 150%
    position relative

    &:before
      content ''
      position absolute
      display block
      left 50%
      top -.5em
      margin-left -.5em
      width 0
      height 0
      border-left .5em solid transparent
      border-right .5em solid transparent
      border-bottom .5em solid white



#toasts-header
  position fixed
  // bottom 0
  top 4em
  left 2em
  width 12em

  font-size 75%

  @media (min-width: 600px)
    font-size 100%

  toast
    border-radius 0 1em 1em 1em

.toasts
  display flex
  flex-direction column-reverse

  // background-color rgba(255,255,255,0.9)
  // box-shadow -.5em 0 rgba(0,0,0,0.15)

  transition transform .3s

@keyframes toast
  0%
    border solid 5px red
  75%
    border solid 5px green

.toasts
  toast
    // margin-bottom 1em
    display block
    background-color white
    color black
    padding 1em
    box-shadow 0 .5em rgba(0,0,0,0.05)
    margin-top -.5em

    .dismiss
      float right
      font-size 150%
      opacity .25

      &:hover
        opacity .5

    // button
    //   width 100%

    //   animation-name toast
    //   animation-duration 2s
    //   animation-timing-function ease-in
    //   animation-delay 0
    //   animation-iteration-count infinite
    //   animation-direction normal


  // toast:last-child
  //   margin-bottom 0

view
  display block

// #intro,
#challenges
  // margin 1em
  // padding 1em
  // background-color rgba(255,255,255,0.9)
  // box-shadow .5em .5em rgba(0,0,0,0.05)

  form
    max-width 40em
    margin auto

#github
  margin 1em
  padding 1em
  background-color rgba(255,255,255,0.9)
  box-shadow .5em .5em rgba(0,0,0,0.05)

  ul
    list-style none
    padding 0
    height 20em
    overflow-y scroll

  .date
    font-weight 300


chat,
#chat
  z-index 3100
minimap,
#minimap
  z-index 3000
footer
  z-index 1200
#toasts
  z-index 1100
.chat
  z-index 1000
header
  z-index 900
aside
  z-index 800
// #intro
//   z-index 700


main
  display block
  height 100%

  @media (min-width: 600px)
    // display flex
    display block

.splash
  position relative
  text-align center
  overflow hidden

  h2
    font-weight 700
    font-size 300%

  color white

  padding 6em 1em

  @media (min-width 600px)
    padding 8em 4em
    h2
      font-size 400%

  &:before
    z-index -1
    transform-origin center
    position absolute
    content ''
    display block
    background-color white
    width 150%
    height 80%
    top 10%
    left 50%

#earn
  .splash
    &:before
      background-color splash-color-1
      transform translateX(-50%) rotate(1deg)

  ul
    list-style none
    padding-left 3.5em

  li[points]
    display block
    margin 1em 0
    &:before
      margin-left -3.5em
      text-align center
      display inline-block
      content '+' attr(points)
      padding .5em
      box-shadow inset .25em .25em rgba(0,0,0,0.15)
      background-color #eee
      color white
      background-color #222


  li.completed,
  li:hover
    &:before
      background-color action-color !important
      box-shadow inset .25em .25em rgba(0,0,0,0.05)
      // box-shadow 0 0


#challenges
  .splash
    &:before
      background-color splash-color-4
      transform translateX(-50%) rotate(.5deg)

#stories
  .splash
    &:before
      background-color splash-color-3
      transform translateX(-50%) rotate(-2deg)

.card
  &:before
    z-index -1
    transform-origin center
    position absolute
    content ''
    display block
    background-color white
    width 100%
    height 100%
    top 0%
    left 0%
    background-color white
    background-color #fefefe

  &:nth-child(5n + 0)
    transform rotate(1deg)
  &:nth-child(5n + 1)
    transform rotate(-2deg)
  &:nth-child(5n + 2)
    transform rotate(2deg)
  &:nth-child(5n + 3)
    transform rotate(-1deg)
  &:nth-child(5n + 4)
    transform rotate(.5deg)

  position relative
  display inline-block

  padding 1em
  margin 1em
  box-shadow .25em .25em rgba(0,0,0,0.05)

  width 90%

  @media (min-width: 720px)
    width 44%

  @media (min-width: 1140px)
    width 30%


@import 'providers'
@import 'stories'
@import 'chat'
@import 'map'
@import 'shift'
