
@import 'vars'
@import 'mixins'
@import 'reset'
@import 'components'
@import 'typography'

@import 'header'

body
  background-color #eee
  margin 0
  padding 4em 0 6em 0

  @media (min-width: 600px)
    padding 4em 2em

  @media (min-width: 900px)
    margin 1em
    padding 5em 4em

h2
  padding .5em
  line-height 1em

h1
  position absolute
  top 0
  left 0
  padding-left 2em
  margin-right 1em

  background-image url(/img/jesse.png)
  background-repeat no-repeat
  background-position .25em 0
  background-size 1.5em
  transition background-position .3s

  line-height 2em

  @media (min-width: 600px)
    position static

header:hover
  h1
    background-position .25em -.25em

header
  .duck
    background-position .25em 2em

  roll
    margin-bottom 2em
    max-width 24em


h2
  text-align center


#profile
  span
    display inline-block
    height 2em
    line-height 2em
    margin-right .5em

    @media (max-width: 600px)
      span
        display block
        height 1em
        line-height 1em

  .avatar
    margin-left 1em


view
  display block

chat,
#chat
  z-index 3100
minimap,
#minimap
  z-index 3000
footer
  z-index 1200
#toasts
  z-index 1100
.chat
  z-index 1000
header
  z-index 900
aside
  z-index 800
// #intro
//   z-index 700


main
  display block
  height 100%

  @media (min-width: 600px)
    display block


#intro
  &.splash
    skewy-background(splash-color-2, -1deg)

#rewards
  .splash
    skewy-background(splash-color-1, 1deg)

#challenges
  .splash
    skewy-background(splash-color-4, .5deg)

#stories
  .splash
    skewy-background(splash-color-3, .5deg)

#hire
  .splash
    skewy-background(white, .5deg)

.crooked
  .card:after
    &:nth-child(5n + 0)
      transform rotate(1deg)
    &:nth-child(5n + 1)
      transform rotate(-2deg)
    &:nth-child(5n + 2)
      transform rotate(2deg)
    &:nth-child(5n + 3)
      transform rotate(-1deg)
    &:nth-child(5n + 4)
      transform rotate(.5deg)


@import 'providers'
@import 'chat'
@import 'map'
@import 'shift'
@import 'toast'

@import 'animations'
@import 'jesse'

@import 'accounts'
@import 'navigation'

@import 'views/intro'
@import 'views/onboarding'
@import 'views/challenges'
@import 'views/stories'
@import 'views/rewards'
@import 'views/hire'
