header
  position fixed
  top 0
  left 0
  width 100%
  height 4em
  background-color rgba(255,255,255,0.9)
  box-shadow 0 .5em rgba(0,0,0,0.15)

  font-size 75%

  @media (min-width: 600px)
    font-size 100%

#session
  padding 1em
  position absolute
  right 0
  top 0
