provider,
account
  .facebook
    background-image url(/img/facebook.png)
    background-color #6666ee
    color #fff
    &:hover
      background-color #7777ff

  .twitter
    background-image url(/img/twitter.png)
    background-color #66eeff
    background-color #55acee
    color #fff
    &:hover
      background-color #77ffff
      background-color #66bdff

  .github
    background-image url(/img/github.png)
    background-color #222
    color #fff
    &:hover
      background-color #333

  .soundcloud
    background-image url(/img/soundcloud.png)
    background-color #ff7700
    color #fff
    &:hover
      background-color lighten(#ff7700, 20%)

