provider,
account
  .fa
    background-color transparent

  .facebook
    background-color #6666ee
    color #fff
    &:hover
      background-color #7777ff

    .fa
    &.fa
      &:before
        content: ''

  .twitter
    background-color #66eeff
    background-color #55acee
    color #fff
    &:hover
      background-color #77ffff
      background-color #66bdff

    .fa
    &.fa
      &:before
        content: ''

  .github
    background-color #222
    color #fff
    &:hover
      background-color #333
    .fa
    &.fa
      &:before
        content: ''


  .soundcloud
    background-color #ff7700
    color #fff
    &:hover
      background-color lighten(#ff7700, 20%)

    .fa
    &.fa
      transform scale(.8)
      &:before
        content: ''


  .developer
    background-color #aaa
    color #fff
    &:hover
      background-color lighten(#aaa, 20%)

    .fa
    &.fa
      &:before
        content: ''
