*
  box-sizing border-box
  vertical-align top

a,
a:hover,
a:visited,
a:active,
a:focus
  color inherit
  font inherit
  text-decoration inherit

a[href]
  text-decoration underline

[ng-click],
button
  cursor pointer

:focus
  outline-color transparent
  outline-style none

h1, h2, h3, h4, h5, h6
textarea,
select,
button,
input
  border 0
  outline 0
  margin 0
  font inherit

html,
body
  height 100%
  position relative