.sidebar
  position fixed
  top 0
  padding-top 5em
  height 100%
  width 12em

  font-size 75%

  @media (min-width: 480px)
    width 12em

  @media (min-width: 600px)
    font-size 100%

  background-color rgba(255,255,255,0.9)
  box-shadow .25em 0 rgba(0,0,0,0.05)

  transition transform .3s
