story
  padding 1em
  box-shadow .5em .5em rgba(0,0,0,0.05)
  box-shadow .25em .25em rgba(0,0,0,0.05)
  position relative

  &:before
    width 2em
    height 2em
    position absolute
    top -.25em
    left -.25em
    content ''
    background-size 100%
    box-shadow .25em .25em rgba(0,0,0,0.05)
    background-position center center

  &.provider-github:before
    background-image url(/img/github.png)
    background-color #222

  &.provider-twitter:before
    background-image url(/img/twitter.png)
    background-color #55acee

