action-color = #99cc66
action-color-active = #aadd77
accent-color = #66cc99
accent-color-active = #77ddaa
action-color = accent-color
action-color-active = accent-color-active

splash-color-1 = #9966cc
splash-color-2 = #66cc99
splash-color-3 = #6699cc
splash-color-4 = #cc9966

palette-1 = #62D1D9
palette-2 = #66E3C8
palette-3 = #66CC99
palette-4 = #66E381
palette-5 = #6BD962

action-color = palette-5
action-color-active = lighten(palette-5, 20%)

accent-color = palette-1
accent-color-active = lighten(palette-1, 20%)

splash-color-1 = palette-2
splash-color-2 = palette-4
splash-color-3 = palette-5
splash-color-4 = palette-3