doctype html
head
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  )
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,700")
  link(rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css")

  title Jesse the Game

  <!-- inject:html -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->

body#body(ng-app="jtg")
  header
    h1(ng-class="{'duck': expandMinimap || scrollAtIntro}")
      | Jesse the Game

    aside.toasts#toasts-header(ng-cloak ng-if="!scrollAtIntro")
      toast(ng-repeat="toast in toast.toasts")

    aside#session(ng-controller="SessionCtrl" spinner="auth.connect.locked")

      #profile(ng-if="!!session.user")
        span.name {{session.user.name}}!
        span.points {{session.user.points}}
        button(ng-click="session.disconnect()") Disconnect
        .avatar(ng-style="{'background-image': 'url(' + session.user.image + ')'}")

  include ./views/intro

  main
    //- aside#accounts(ng-controller="AccountCtrl")
    //-   account(ng-if="session.user" ng-repeat="(slug, account) in session.user.accounts")

    //-   provider(ng-if="!session.user.accounts[slug]" ng-repeat="(slug, provider) in providers")

    //- aside#navigation

    include ./views/onboard

    .row(ui-view)

    include ./views/earn
    include ./views/challenges
    include ./views/stories

  footer
    minimap#minimap
    chat#chat

  case process.env.NODE_ENV
    when 'production'
      script(src="//hub.jessethegame.net/socket.io/socket.io.js")
    when 'staging'
      script(src="//hub.staging.jessethegame.net/socket.io/socket.io.js")
    default
      script(src="//localhost:8080/socket.io/socket.io.js")

  script(src='//maps.googleapis.com/maps/api/js?v=3&sensor=false')

  script(src="/vendor/jquery/dist/jquery.js")
  script(src="/vendor/angular/angular.js")
  script(src="/vendor/moment/moment.js")
  script(src="/vendor/angular-moment/angular-moment.js")
  script(src="/vendor/angular-local-storage/angular-local-storage.js")
  script(src='/vendor/lodash/dist/lodash.compat.js')
  script(src='/vendor/angular-google-maps/dist/angular-google-maps.js')

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:templates.js -->
  <!-- endinject -->

  script(src="/env/" + (process.env.NODE_ENV || 'development') + ".js")

