doctype html
head
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  )
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,700")
  link(rel="stylesheet" href="/vendor/fontawesome/css/font-awesome.css")

  title Jesse the Game

  <!-- inject:html -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->

body#body(ng-app="jtg" ng-style="{'font-size': session.preferences.fontSize + 'px'}")
  header
    h1(ng-class="{'duck': expandMinimap || scrollAtIntro}")
      a(ui-sref="intro") Jesse the Game

    nav
      a(ui-sref="onboard") Onboard
      a(ui-sref="rewards") Rewards
      a(ui-sref="spend") Spend
      a(ui-sref="challenges") Challenges
      a(ui-sref="stories") Stories

    aside.toasts#toasts-header(ng-cloak ng-if="!scrollAtIntro")
      toast(ng-repeat="toast in toast.toasts")

    aside#session(ng-controller="SessionCtrl" spinner="auth.connect.locked")

      #profile(ng-if="!!session.user")
        span.name {{session.user.name}}!
        span.points {{session.user.points}}
        button(ng-click="session.disconnect()") Disconnect
        .avatar(ng-style="{'background-image': 'url(' + session.user.image + ')'}")


  main
    ui-view

    //- include ./views/intro
    //- include ./views/onboard
    //- include ./views/earn
    //- include ./views/challenges
    //- include ./views/stories

    //- aside#accounts(ng-controller="AccountCtrl")
    //-   account(ng-if="session.user" ng-repeat="(slug, account) in session.user.accounts")

    //-   provider(ng-if="!session.user.accounts[slug]" ng-repeat="(slug, provider) in providers")

    //- aside#navigation

    section#hire
      .splash
        h2 Hire Jesse
        p Power Points not giving you enough control? You could always throw money at the problem.

      .content
        p I built all of this with great joy and I would love making things for or with you.
        p Drop me a line on <a href="mailto:jesse@jessethegame.net">jesse@jessethegame.net</a>

  footer
    minimap#minimap(map="minimap")
    chat#chat

  case process.env.NODE_ENV
    when 'production'
      script(src="//hub.jessethegame.net/socket.io/socket.io.js")
    when 'staging'
      script(src="//hub.staging.jessethegame.net/socket.io/socket.io.js")
    default
      script(src="//localhost:8080/socket.io/socket.io.js")

  script(src='//maps.googleapis.com/maps/api/js?v=3&sensor=false')

  script(src="/vendor/jquery/dist/jquery.js")
  script(src="/vendor/angular/angular.js")
  script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
  script(src="/vendor/moment/moment.js")
  script(src="/vendor/angular-moment/angular-moment.js")
  script(src="/vendor/angular-local-storage/angular-local-storage.js")
  script(src="/vendor/ngstorage/ngstorage.js")
  script(src='/vendor/lodash/dist/lodash.compat.js')
  script(src='/vendor/angular-google-maps/dist/angular-google-maps.js')

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:templates.js -->
  <!-- endinject -->

  // script(src="/app/config.js")
  script(src="/env/" + (process.env.NODE_ENV || 'development') + ".js")

