doctype html
head
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
  )

  title Jesse the Game
  <!-- inject:html -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
body(ng-app="jtg" google-maps-async="")

  header
    h1 Jesse the Game

    //- nav
    //-   a(ui-sref="feed") Journal
    //-   a(ui-sref="rewards") Rewards
    //-   a(ui-sref="assignments") Quests
    section#session(ng-controller="SessionCtrl" spinner="auth.connect.locked")

      form#login(ng-if="!session.user" ng-submit="providers.dummy.connect({name: name})")
        input(type="text" ng-model="name" placeholder="Name")
        input(type="submit" value="Connect")

      section#profile(ng-if="!!session.user")
        span.name {{session.user.name}}!
        span.points {{session.user.points}}
        button(ng-click="session.disconnect()") Disconnect
        .avatar(style="background-image: url({{session.user.image}})")


  view#onboarding(ng-controller-off="OnboardCtrl")
    //- p Connect a social account to save your progress and collect points
    //- p Your progress is also stored in a a cookie
    //- p This page guides you through your first reward into your first spend

  view#feed(ng-controller-off="SocialCtrl")
    //- TODO dynamic templates
    //- Tweet
    //- Facebook
    //- Github (commits to master branch)
    story(ng-repeat="story in stories")

  view#quests(ng-controller-off="QuestCtrl")
    //- p Every tweet with #jessethegame is pulled in as a quest
    //- p Every retweet gives it points
    //- p Every spend gives it points

  view#grind(ng-controller-off="GrindCtrl")
    //- p Every hour get points (up to 24)
    //- p Every mention get points
    //- p Every listen get points
    //- p Every follow get points
    //- p Every like get points
    //- p Every (github) follow get points

  view#challenges(ng-controller="ChallengeCtrl")
    form(ng-submit="challenge.create()")
      input(type="text" ng-model="challenge.text")
      //- select(ng-model="challenge.category" ng-options="[['a', 'A'], ['b', 'B']]")
      input(type="submit" value="Challenge")

    challenge(ng-repeat="challenge in challenges")

  main
    h2 Hey, it's a start.

    aside#accounts(ng-controller="AccountCtrl")
      account(ng-if="session.user" ng-repeat="(slug, account) in session.user.accounts")

      provider(ng-if="!session.user.accounts[slug]" ng-repeat="(slug, provider) in providers")

    aside#game(ng-controller="GameCtrl")
    chat#chat


  //- .map-wrapper
  //-   minimap
  //-   .map-overlay

  section#intro
    h2 Huh?

    p
      | This is an effort to realise my pipedream of
      | turning my world into an actual game.
      | Of inventing a new class of entertainment.
      | Of becoming the world's first pop-programmer.
      | Or being the puppet of the internet.
      | Or performing a large scale social experiment.

    p
      | This page will be progressively enhanced and turn
      | into something more interesting.
      | For now

  //- main(ui-view="")

  aside#filters(ng-controller-off="FilterCtrl")
    //- p Control the feed
    //- filter All
    //- filter Social
    //- filter Game
    //- filter Code

    //- filter Twitter
    //- filter Facebook
    //- filter Github

    //- filter Quests
    //- filter Rewards

  script(src="http://jessethemacbook.local:8080/socket.io/socket.io.js")
  script(src="/lib/jquery/dist/jquery.js")
  script(src="/lib/angular/angular.js")
  script(src="/lib/angular-cookies/angular-cookies.js")
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:templates.js -->
  <!-- endinject -->
